.advantages {
    overflow: hidden;
}

.advantages__container {
    position: relative;
}

.advantages__img {
    object-fit: contain;
    width: 540px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    z-index: -1;
}

.advantages__item {
    font-size: 20px;
    font-weight: 500;
    border-radius: 20px;
    background: rgba(254, 229, 165, 0.85);
    padding: 20px 0 20px 20px;
    width: 60%;
    line-height: 150%;
}

.advantages__list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
}

@media (max-width: 970px) {
    .advantages__item {
        font-size: 18px;
        width: 70%;
    }
}

@media (max-width: 820px) {
    .advantages__item {
        font-size: 16px;
    }

    .advantages__img {
        left: 40%;
        padding-top: 70px;
    }
}

@media (max-width: 600px) {
    .advantages__item {
        font-size: 12px;
    }

    .advantages__img {
        left: 30%;
        padding-top: 70px;
    }
}

@media (max-width: 550px) {
    .advantages__item {
        font-size: 12px;
    }

    .advantages__img {
        padding-top: 70px;
    }

    .advantages__list {
        gap: 10px;
    }
}

@media (max-width: 500px) {
    .advantages__item {
        font-size: 12px;
        padding: 10px 0 10px 10px;
    }
}

@media (max-width: 360px) {
    .advantages__item {
        font-size: 10px;
    }
}