.header__container {
    display: flex;
    justify-content: space-between;
    position: fixed;
    background-color: var(--color-white);
    top: 0;
    right: 0;
    left: 0;
    z-index: 5;
}

.header {
    margin-bottom: 50px;
}

.nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    min-height: 90px;
}

.nav__link {
    font-size: 20px;
    transition: color .2s ease, 
    border-radius .3s ease, 
    background-color .2s ease;
}

.nav__link:hover {
    color: var(--color-pink, #E98181);
}

.nav__link:focus {
    border-radius: 20px;
    background-color: var(--color-yellow, #FEE5A5);
}

.nav__link:active {
    color: var(--color-violet, #672672);
}

@media (max-width: 800px) {
    .header {
        margin-bottom: 30px;
    }
}
