.header__container {
    display: flex;
    justify-content: space-between;
}

.nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    min-height: 90px;
}

.nav__link {
    font-size: 20px;
    transition: color .2s ease, 
    border-radius .3s ease, 
    background-color .2s ease;
}

.nav__link:hover {
    color: var(--color-pink, #E98181);
}

.nav__link:focus {
    border-radius: 20px;
    background-color: var(--color-yellow, #FEE5A5);
}

.nav__link:active {
    color: var(--color-violet, #672672);
}

@media (max-width: 650px) {
    .nav__list {
        display: none;
    }
}