.offer__btn {
    width: 300px;
    display: block;
    border-radius: 20px;
    background: rgba(233, 129, 129, 0.96);
    padding: 22px 45px;
    color: var(--color-white, #fff);
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: background-color .2s ease, 
    box-shadow .3s ease;
    position: relative;
    overflow-x: hidden;
}

.offer__btn-wrap {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.offer__btn-green {
    width: 300px;
    display: block;
    border-radius: 20px;
    background: rgba(52, 143, 65, 0.86);
    padding: 22px 45px;
    color: var(--color-white, #fff);
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: background-color .2s ease, 
    box-shadow .3s ease;
    background: linear-gradient(180deg, rgba(248,223,141,1) 0%, rgba(241,161,98,1) 100%);
}

.offer__btn-green:hover {
    background: linear-gradient(180deg, rgb(255, 208, 54) 0%, rgba(241,161,98,1) 100%);
}

.offer__btn-green:active {
    box-shadow: -4px -4px 4px 0px rgba(0, 0, 0, 0.25);
}

.offer__btn-flare {
    position: absolute;
    top: 0;
    height: 100%;
    width: 45px;
    transform: skewX(-45deg);
    animation: flare 2s infinite linear;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
    left: -150%;
}

@keyframes flare {
    0% {
        left: -150%;
    }
    100% {
        left: 150%;
    }
}

.offer__btn:hover {
    background-color: #d86666;
}

.offer__btn:focus {
    background-color: var(--color-pink, #E98181);
}

.offer__btn:active {
    box-shadow: -4px -4px 4px 0px rgba(0, 0, 0, 0.25);
}

.offer__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.offer__cta {
    color: var(--color-violet, #672672);
    font-size: 32px;
    font-weight: 700;
    white-space: pre-line;
    position: relative;
    margin-bottom: 20px;
    line-height: 180%;
}

.offer__cta-price {
    text-decoration-line: line-through;
}

.offer__cta-free {
    border-radius: 20px;
    /* background: rgba(234, 165, 94, 0.86);
    color: var(--color-white, #fff); */
    color:rgba(241, 81, 81, 0.96);
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0 8px;
    position: absolute;
    bottom: 10px;
    transform: rotate(-4.791deg);
    /* right: 120px; */
    line-height: 120%;
}

.offer__par {
    color: var(--color-violet, #672672);
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
    line-height: 150%;
}

.offer__par-small {
    color: var(--color-violet, #672672);
    font-size: 18px;
    font-weight: 700;
}

.offer__title {
    color: var(--color-violet, #672672);
    font-size: 36px;
    font-weight: 700;
    white-space: pre-line;
    margin-bottom: 20px;
    line-height: 180%;
}

.offer__title-white {
    color: var(--color-white, #fff);
    padding: 13px 15px;
    border-radius: 20px;
    background: rgba(64, 142, 66, 0.86);
}

.offer__video {
    width: 500px;
    border-radius: 20px;
}

@media (max-width: 1175px) {
    .offer__btn, .offer__btn-green {
        font-size: 18px;
        width: 220px;
        padding: 15px 20px;
    }
}

@media (max-width: 1100px) {

    .offer__title {
        font-size: 32px;
    }

    .offer__cta {
        font-size: 28px;
    }

    .offer__cta-free {
        font-size: 24px;
    }

    .offer__par {
        font-size: 20px;
    }
    
    .offer__par-small {
        font-size: 16px;
    }

    .offer__video {
        width: 400px;
    }
}

@media (max-width: 880px) {
    .offer__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .offer__btn, .offer__btn-green {
        font-size: 18px;
        width: 200px;
        padding: 10px 15px;
    }
}

@media (max-width: 530px) {
    .offer__video {
        width: 100%;
    }

    .offer__title {
        font-size: 24px;
    }

    .offer__title-white {
        padding: 8px 10px;
    }

    .offer__cta {
        font-size: 20px;
    }

    .offer__cta-free {
        font-size: 18px;
        bottom: 0;
        /* right: 70px; */
    }

    .offer__par {
        font-size: 16px;
    }
    
    .offer__par-small {
        font-size: 14px;
    }

    .offer__btn, .offer__btn-green {
        font-size: 16px;
        width: 180px;
        padding: 10px 5px;
    }
}

@media (max-width: 530px) {
    .offer__title {
        font-size: 22px;
    }
}

@media (max-width: 430px) {
    .offer__btn, .offer__btn-green {
        font-size: 14px;
        width: 130px;
        padding: 10px 5px;
    }
}
