.stock__svg {
    position: absolute;
    top: -30px;
    left: 0;
    right: 0;
}

.stock__btn {
    width: 400px;
    display: block;
    border-radius: 20px;
    background: rgba(233, 129, 129, 0.96);
    padding: 20px 15px;
    color: var(--color-white, #fff);
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: background-color .2s ease, 
    box-shadow .3s ease;
    position: relative;
    overflow-x: hidden;
}

.stock__btn-flare {
    position: absolute;
    top: 0;
    height: 100%;
    width: 45px;
    transform: skewX(-45deg);
    animation: flare 2s infinite linear;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
    left: -150%;
}

@keyframes flare {
    0% {
        left: -150%;
    }
    100% {
        left: 150%;
    }
}

.stock__btn:hover {
    background-color: #d86666;
}

.stock__btn:focus {
    background-color: var(--color-pink, #E98181);
}

.stock__btn:active {
    box-shadow: -4px -4px 4px 0px rgba(0, 0, 0, 0.25);
}

.stock__container {
    position: relative;
}

.stock__container::before {
    content: url(../img/stock/price-tag.svg);
    position: absolute;
    left: 30%;
    top: -15px;
    width: 310px;
    height: 244px;
}

.stock__figcaption {
    font-size: 7px;
    font-weight: 500;
}

.stock__figure {
    width: 400px;
}

.stock__item {
    position: relative;
    font-size: 22px;
    font-weight: 700;
    white-space: pre-line;
    padding: 20px 0 0 30px;
    width: 440px;
}

.stock__item::after {
    content: url(../img/stock/stock-rectangle.svg);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 440px;
    height: 216px;
}

.stock__item-white {
    padding-top: 30px;
    font-size: 22px;
    font-weight: 700;
    background-color: var(--color-white, #fff);
    padding: 10px;
    border-radius: 20px
}

.stock__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 150px;
    margin-bottom: 150px;
}

.stock__ol-list {
    margin: 0;
    font-size: 7px;
    font-weight: 500;
    line-height: 150%;
}

@media (max-width: 1100px) {
    .stock__item {
        font-size: 18px;
        width: 380px;
    }

    .stock__item-white {
        font-size: 18px;
    }

    .stock__item::after {
        width: 380px;
        height: 200px;
    }

    .stock__btn {
        font-size: 22px;
    }

    .stock__list {
        gap: 100px 20px;
    }

    .stock__container::before {
        left: 20%;
    }

}

@media (max-width: 840px) {
    .stock__list {
        justify-content: center;
        margin-bottom: 150px;
    }

    .stock__container::before {
        left: 40%;
    }

}

@media (max-width: 540px) {
    .stock__btn {
        font-size: 18px;
        width: 280px;
        padding: 15px 25px;
    }

    .stock__item, .stock__item-white {
        font-size: 16px;
    }

    .stock__item {
        width: 280px;
    }

    .stock__item::after {
        width: 280px;
        height: 160px;
    }

    .stock__container::before {
        width: 155px;
        height: 122px;
        left: 50%;
    }

    .stock__list {
        margin-bottom: 65px;
        gap: 60px;
    }
}
