.theater-service__btn {
    width: 400px;
    display: block;
    border-radius: 20px;
    background: rgba(233, 129, 129, 0.96);
    padding: 20px 15px;
    color: var(--color-white, #fff);
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 1.28px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: background-color .2s ease, 
    box-shadow .3s ease;
    position: relative;
    overflow-x: hidden;
}

.theater-service__btn-flare {
    position: absolute;
    top: 0;
    height: 100%;
    width: 45px;
    transform: skewX(-45deg);
    animation: flare 2s infinite linear;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
    left: -150%;
}

@keyframes flare {
    0% {
        left: -150%;
    }
    100% {
        left: 150%;
    }
}

.theater-service__btn:hover {
    background-color: #d86666;
}

.theater-service__btn:focus {
    background-color: var(--color-pink, #E98181);
}

.theater-service__btn:active {
    box-shadow: -4px -4px 4px 0px rgba(0, 0, 0, 0.25);
}

.theater-service__figure {
    width: 500px;
}

.theater-service__link {
    width: 250px;
    display: block;
    border-radius: 20px;
    background: rgba(52, 143, 65, 0.86);
    padding: 20px 15px;
    color: var(--color-white, #fff);
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 1.28px;
    margin-bottom: 30px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: background-color .2s ease, 
    box-shadow .3s ease;
}

.theater-service__link:hover {
    background-color: #1f742c;
}

.theater-service__link:focus {
    background-color: var(--color-green, #348F41);
}

.theater-service__link:active {
    box-shadow: -4px -4px 4px 0px rgba(0, 0, 0, 0.25);
}

.theater-service__par {
    font-size: 22px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 1.25px;
    white-space: pre-line;
    margin-bottom: 50px;
}

.theater-service__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
}

@media (max-width: 1070px) {
    .theater-service__wrapper {
        gap: 30px;
    }

    .theater-service__btn {
        font-size: 22px;
    }

    .theater-service__link {
        font-size: 22px;
        width: 220px;
    }

    .theater-service__figure {
        width: 300px;
        margin: auto;
    }

}

@media (max-width: 530px) {
    .theater-service__btn {
        font-size: 18px;
        width: 280px;
        padding: 15px 25px;
    }

    .theater-service__link {
        font-size: 18px;
        width: 220px;
        padding: 15px 25px;
    }

    .theater-service__par {
        font-size: 16px;
        margin-bottom: 30px;
    }

    .theater-service__figure {
        width: 70%;
    }
}


